@charset "utf-8";
/* CSS Document */

.main .leftCenter{
	margin-top:13px;}
.main .leftCenter .kuai{
	width:400px;
	height:175px;
	border:1px solid #CCCCCC;
	padding-top:5px;
	box-sizing:border-box;
	padding-left:5px;
	float:left;
	margin-right:22px;
	margin-top:24px;}
.main .leftCenter .kuai .kuaiTop{
	width:160px;
	font-size:12px;
	line-height:30px;
	padding-left:124px;}
.main .leftCenter .kuai:nth-child(1) .kuaiTop{
	background:url(../images/schooltu1.png) left center no-repeat;}
.main .leftCenter .kuai:nth-child(2) .kuaiTop{
	background:url(../images/schooltu2.png) left center no-repeat;}
.main .leftCenter .kuai:nth-child(3) .kuaiTop{
	background:url(../images/schooltu3.png) left center no-repeat;}
.main .leftCenter .kuai:nth-child(4) .kuaiTop{
	background:url(../images/schooltu4.png) left center no-repeat;}
.main .leftCenter .kuai:nth-child(5) .kuaiTop{
	background:url(../images/schooltu5.png) left center no-repeat;}
.main .leftCenter .kuai:nth-child(6) .kuaiTop{
	background:url(../images/schooltu6.png) left center no-repeat;}
.main .leftCenter .kuai:nth-child(7) .kuaiTop{
	background:url(../images/schooltu3.png) left center no-repeat;}
.main .leftCenter .kuai:nth-child(8) .kuaiTop{
	background:url(../images/schooltu1.png) left center no-repeat;}
.main .leftCenter .kuai:nth-child(9) .kuaiTop{
	background:url(../images/schooltu2.png) left center no-repeat;}
.main .leftCenter .kuai:nth-child(10) .kuaiTop{
	background:url(../images/schooltu4.png) left center no-repeat;}
.main .leftCenter .kuai:nth-child(2n){
	margin-right:0;}
.main .leftCenter .kuai h5 a{
	color:#656565;}
.main .leftCenter .kuai p{
	color:#656565;}
.main .leftCenter .kuaiBottom p{
	font-size:14px;
	color:#656565;
	margin-top:10px;
	margin-left:4px;
	line-height:24px;}

.main .left .leftBottom{
	margin-top:145px;
	}













