@charset "utf-8";
/* CSS Document */
.contRight{
	background:#fff;
	margin-top:19px;}
.contRight h3{
	font-size:14px;
	color:#656565;
	line-height:50px;
	padding-left:20px;
	border-bottom:1px solid #D6D6D6;
	margin-bottom:20px;}	
.contRight h3 a{
	color:#656565;}	
.contRight form{
	margin-left:76px;}
.contRight p{
	margin-top:20px;
	color:#5B5B5B;
	font-size:14px;}
.contRight p input{
	width:294px;
	height:36px;
	border:1px solid #C8C8C8;
	margin-left:15px;
	box-sizing:border-box;
	padding:0 15px;}
.contRight .yzm{
	margin-left:1em;}

.contRight .yzm input{
	width:114px;}
.contRight .yzm .yanz{
	width:95px;
	height:34px;
	background:#BFBFBF;
	color:#fff;
	margin-left:10px;}
.contRight form span,.contRight form a{
	font-size:12px;
	color:#2B85B9;
	margin-left:15px;}
.contRight form .hui{
	color:#999999;}
.contRight .queren{
	margin-top:40px;}
.contRight .queren input{
	width:220px;
	background:#D53F19;
	font-size:16px;
	color:#FFFFFF;
	margin-left:70px;}

