@charset "utf-8";
/* CSS Document */

.banner{
	background:url(../images/brokenbanner.png) no-repeat;}
.banner	.kaui{
	width:762px;
	height:430px;
	right:-20px; top:20px;}
.banner	.kaui p:nth-child(4) em{
	margin-left:2em;}
.banner	.kaui strong{
	display:inline-block;}	
	
	
	
	
	
	
	
	