@charset "utf-8";
/* CSS Document */

.contTop{
	height:224px;
	background:#fff;
	margin-top:20px;}
.topBottom{
	margin-top:40px;}
.topBottom a{
	width:144px;
	height:40px;
	font-size:16px;
	color:#656565;
	background:#E6E6E6;
	text-align:center;
	line-height:40px;
	margin-left:20px;
	margin-top:75px;}
.topBottom div{
	width:115px;
	text-align:center;
	color:#656565;
	font-size:12px;}
.topBottom div p{
	margin-top:7px;}







.contBottom{
	height:593px;
	background:#fff;
	margin-top:19px;}
.contBottom .biaodan{
	margin-top:20px;
	font-size:14px;
	color:#656565;
	margin-left:20px;}
.contBottom .p1 select{
	width:174px;
	height:36px;
	border:1px solid #C5C5C5;
	padding-left:10px;
	box-sizing:border-box;
	appearance:none;
	-moz-appearance:none;
   	-webkit-appearance:none;
	background:url(../images/distributiontu4.png) right center no-repeat;
	color:#999999;
	font-size:14px;}
.contBottom .p2 {
	margin-left:30px;}
.contBottom .p2 input{
	width:122px;
	height:36px;
	border:1px solid #C5C5C5;
	box-sizing:border-box;
	padding:0 10px;
	color:#999999;
	font-size:14px;}
.contBottom .p2 span{
	margin:0 10px;}
.contBottom .p3 input{
	width:70px;
	height:36px;
	background:#E2E2E2;
	font-size:14px;
	color:#656565;
	margin-left:12px;}
.contBottom li:nth-child(odd){
	background:#F7F7F7;
	width:952px;}
.contBottom li span{
	width:64px;
	text-align:center;
	display:inline-block;
	height:32px;
	line-height:32px;
	margin-right:120px;
	color:#5B5B5B;
	font-size:14px;}
.contBottom li span:nth-child(1){
	margin-left:45px;
	text-align:left;}
.contBottom li span:last-child{
	margin-right:0;}
.contBottom ul{
	margin-top:28px;
	margin-left:20px;}
.fenye{
	text-align:center;
	font-size:0;
	margin-top:228px;}
.fenye a{
	font-size:12px;
	color:#7C7C7C;
	padding:0 10px;
	display:inline-block;
	height:26px;
	text-align:center;
	line-height:26px;
	border:1px solid #D0D0D0;
	margin-left:-1px;}	
.fenye a:nth-child(7){
	border:none;}
.fenye span{
	font-size:12px;
	color:#7C7C7C;}	
.fenye .span1{
	margin-left:30px;
	margin-right:20px;}	
.fenye span input{
	width:55px;
	height:26px;
	border:1px solid #D0D0D0;
	margin:0 5px;
	padding:0 3px;
	box-sizing:border-box;}	
.fenye .qr{
	width:58px;
	height:22px;
	border-radius:2px;
	background:#E1E1E1;
	font-size:12px;
	color:#656565;
	border:1px solid #D0D0D0;
	margin-left:12px;}
.fenye .active,.contBottom .fenye a:hover{
	background:#D53F19;
	border-color:#D53F19;
	color:#fff;}	
