@charset "utf-8";
/* CSS Document */

.content{
	border-bottom:1px solid #E7E7E7;}
.content .ka{
	width:500px;
	height:304px;
	background:#E5E5E5;
	border-radius:9px;
	margin:0 auto;}
.content .ka dl{
	font-size:14px;
	color:#656565;
	padding-left:25px;
	margin-top:30px;}	
.content .ka dt{
	font-size:18px;
	margin-bottom:9px;}
.content .ka dd{
	line-height:24px;}	
.content .tiao{
	height:50px;
	background:#C1D4DE;
	margin-top:9px;}	
.content .xinxi	.w1{
	width:172px;
	font-size:14px;
	color:#656565;
	margin-left:25px;
	margin-top:10px;}
.content .w1 span{
	font-size:10px;
	}	
.content .w2{
	width:180px;
	height:36px;
	background:#D3D9DC;
	text-align:center;
	line-height:36px;
	font-size:14px;
	color:#656565;
	margin-right:25px;
	margin-top:14px;}	
	
	
	
	