 @charset "utf-8";

 header{
 	background: #fff;
 	height: 120px;
 }
/*.logo{
 	margin-top: 6px;
 }*/
 .nav{
 	height: 120px;
 }
 .nav li{
 	float: left;
 	margin-right: 20px;
 	border-radius: 10px;
 	background: #34495E;
 }
 .nav li:nth-child(4){
 	margin-right: -2px;
 }
 .nav li a{
 	display: inline-block;
 	line-height: 60px;
 	text-align: center;
 	color:#fff;
 	width: 200px;
 	font-size: 16px;
 }
.nav li:hover{
 	background: #E74C3C;
 	
 }
 .nav li a:hover{
 	transform: skewX(0deg);
 }
.nav ul{
	position: absolute;
	left:30%;
	top:30px;
 }
 .header2{
 	position: relative;
 }

.header3{
	margin-bottom: -24px;
	position: relative;
	z-index: 3;
}
.header3 li{
	float: left;
	font-size: 14px;
	
}
.header3 li a{
	color:#000;
}
.header3 li:nth-child(1){
	margin-right: 20px;
}
.header3 li:nth-child(2){
	margin-right: 10px;
}

.header3 ul{
	float: right;

}
