 @charset "utf-8";
 

 .footer{
	width: 100%;
	height: 250px;
	background-color: #FAFAFA;
	color:#7A7A7A;
	position:relative;
}
.footer p{
	font-size: 12px;
	line-height: 30px;
	text-align: center;
}
.footer1{
	padding-top: 35px;
	
}
.footer span{
	padding: 0 5px;

}
.footer a{
	color: #7A7A7A;
}
     