 @charset "utf-8";

 .nav2{
 	height: 36px;
 	background: url(../images/nav.png);
 	border-radius: 5px;
 }
 .nav2 .fl{
 	height: 36px;
 	line-height: 36px;
 	font-size: 14px;
 	padding:0 20px;
 	width: 85px;
 	text-align: center;
 }
 .nav2 .fl:hover{
 	background:url(../images/nav2.png);
 	border-radius: 5px;
 }
 .nav2 .fl:hover a{
 	color: #000;
 }
 .content .content1 {
 	color: #666;
 	line-height: 47px;
 	height: 62px;
 	display: inline-block;
 	font-size: 20px;
 	text-align: center;
 }
.content ul{
	margin-top: 40px;
	float: left;
	width: 30%;
	margin-left: 25px;

}
.content li{
	width: 100%;
	position: relative;
	border: 10px solid #fff;
	background-color:#fff;
	overflow: hidden;
	transition: .35s;
}
.content li img{
	width:100%;
	transition: .35s;
}
.content li .text{
	color: #fff;
	background: rgba(0,0,0,.6);
	position: absolute;
	left: 0; bottom:-98px;
	width: 100%;
	height:68px;
	padding: 3% 0;
	transition: .35s;
	text-align: center;
}
.content li p{
		font-size: 12px;
		line-height: 22px;
		width: 100%;
}
.content li p:hover{
	background:rgba(255,255,255,.6);
	color: #000;
}
.content li:hover{
	box-shadow:5px 0 20px #dedede,-5px 0 20px #dedede,0 5px 20px #dedede;
}
.content li:hover img{
	transform:scale(1.1);
}
.content li:hover .text{
		transform:translateY(-100px);
}
.yuan a{
	color:#000;
	font-size: 16px;

}
.yuan{
	width: 75px;
	height: 75px;
	border-radius: 50%;
	line-height: 75px;
	text-align: center;
}
.yuan:hover a{
	color: #fff;
}
.yuan:hover{
	background-color: #168AB3;
}










.footer{
	width: 100%;
	height: 250px;
	background-color: #FAFAFA;
	color:#7A7A7A;
}
.footer p{
	font-size: 12px;
	line-height: 30px;
	text-align: center;
}
.footer1{
	padding-top: 35px;
	
}
.footer span{
	padding: 0 5px;

}
.footer a{
	color: #7A7A7A;
}